@model IEnumerable<Application.DTOs.Students.StudentsResponse>

@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="mb-3 p-2 d-flex justify-content-between">
        <a asp-controller="Student" asp-action="Create" class="btn btn-primary me-2 text-nowrap">Thêm</a>
        <a asp-controller="Student" asp-action="Statistic" class="btn btn-info text-white">Thông kê</a>
        <a asp-controller="Student" asp-action="Export" target="_blank" class="btn btn-warning">Export</a>
        <form asp-controller="Student" asp-action="Index" method="get" class="d-flex">
            <input class="form-control me-2" placeholder="Tên học sinh hoặc mã sinh viên" name="Input" />
            <button class="btn btn-primary text-nowrap" type="submit">Tìm kiếm</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Họ và Tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach(var student in Model)
    {
        <tr>
            <td>@student.Name</td>
            <td>@student.Gender</td>
            <td>@student.Birthday.ToShortDateString()</td>
            <td>@student.Address</td>
            <td class="d-flex">
                <a class="btn btn-primary me-2" asp-controller="Student" asp-action="Detail" asp-route-id="@student.Id">Chi tiết</a>
                <form asp-action="Remove" asp-controller="Student" method="post">
                    <input hidden name="Id" value="@student.Id" />
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </td>
        </tr>
    }
        </tbody>
    </table>
</div>

