@{
  Layout = "_Layout";
}

@model IEnumerable<Application.DTOs.Classes.ClassResponse>

<div class="container-fluid">
  <div class="d-flex justify-content-between mb-3 p-2">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Class" >Thêm lớp học mới</a>
    <a class="btn btn-warning" asp-action="Export" asp-controller="Class">Export</a>
    <a class="btn btn-info text-white" asp-action="MaxMale" asp-controller="Class">Lớp đông nam nhất</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tên</th>
        <th>Lớp trưởng</th>
        <th>Bí thư</th>
        <th>Sĩ số</th>
        <th>Sĩ số nam</th>
        <th>Sĩ số nữ</th>
        <th>Môn học</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var _class in Model)
      {
        <tr>
          <td>@_class.Name</td>
          <td>@_class.Monitor</td>
          <td>@_class.Secretary</td>
          <td>@_class.Glosbe</td>
          <td>@_class.MaleGlosbe</td>
          <td>@_class.FemaleGlosbe</td>
          <td>@string.Join(", ", _class.Subjects)</td>
          <td class="d-flex">
            <a class="btn btn-primary me-2" asp-controller="Class" asp-action="Detail" asp-route-id="@_class.Id">Chi tiết</a>
            <form asp-controller="Class" asp-action="Remove">
              <input hidden name="Id" value="@_class.Id" />
              <button class="btn btn-danger" type="submit">Xóa</button>
            </form>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>